engine-strict=true
workspaces-update=false # fix bug https://github.com/dhoulb/multi-semantic-release#npm-v85-npm-err-notarget-no-matching-version-found-for
# @rabtech scope registry
@rabtech:registry=https://gitlab.com/api/v4/projects/62530839/packages/npm/
# rabtech gitlab auth: public_read_package_registry
//gitlab.com/api/v4/projects/62530839/packages/npm/:_authToken=glpat-ifgvKkMHvHC_mCw7ntTj